* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(203, 202, 202);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #0b0f1a;
    color: white;
    height: 100%;

}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    height: 100vh;
    /* overflow-y: scroll; */
}

.sidebar {
    /* border: 1px solid black; */
    /* position: sticky; */
    background-color: rgb(242, 242, 242);
     /* box-shadow: 2px 2px 10px gray; */
     border-radius: 10px;
     background-color: #121826;

}



.sidebar-container {
    margin: 10px;
    /* border: 1px solid black; */
    height: 100vh;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.logo {
    /* border: 1px solid black; */
    padding: 1rem;
}

.sidebar-content {
    /* border: 1px solid black; */
    padding: 10px;
    height: 100vh;
}

.slides {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0rem 0; */
}

.slides a {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    /* margin: 5px; */
}

.slides a:hover {
    /* border: 0.5px solid black; */
    background-color: aliceblue;
    color: rgb(0, 140, 255);


}

.header {
    border-bottom: 1px solid #222;
    height: 10vh;
    /* background-color: #121826; */
}

.header-content {
    /* border: 1px solid black; */
    margin: 5px;
    /* height: 100%; */
    height: 9vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searchBox {
    /* border: 1px solid black; */
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.searchBox input {
    height: 2rem;
    width: 80%;
    padding-left: 1rem;
    border: 0px;
    border-radius: 10px;
    background-color: transparent;


}

.searchBox input::placeholder {
    font-weight: bold;
}

/* .searchBox input:hover{
    border-radius: 10px;
    border: 0.5px solid black;


} */
.icons {
    /* border: 1px solid black; */
    margin: 10px;
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    padding: 0px 10px;
    align-items: center;

}

.icons a {
    text-decoration: none;
    /* color: black; */

}
.icons select{
    background-color: transparent;
    height: 2rem;
    width: 5rem;
    
    border-radius: 15px;
}


.cards{
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;

    /* justify-content: space-around; */

}


.card {
  flex: 1;
  padding: 20px;
  /* color: rgb(195, 193, 193); */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.balance {       background: linear-gradient(135deg, #1E1B4B, #27263b);
 }
.income {   background: linear-gradient(135deg, #0F172A, #172b26);
 }
.expense { background: #121826;   background: linear-gradient(36deg, #222933, #5e2020);
 }
 .main-dashboard{
    overflow-y: scroll;
 }


.dashboard-data{
    /* border: 1px solid white; */
    border-radius: 10px;
    margin: 1rem;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    /* background-color:whitesmoke ; */
    /* box-shadow: 2px 2px 10px gray; */
    /* background-color: #121826; */


}
.transactions{
    /* border: 1px solid black; */
    border-radius: 10px;
    grid-row: 1/4;
    height: 52vh;
         background-color: #131c2f;

}
.add-items{
    /* border: 1px solid black; */
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px gray; */
    grid-row: 1/3;
    height: 52vh;
             background-color: #131c2f;


}
/* .insides{
    border: 1px solid black;
        border-radius: 10px;

        grid-row: 2/3;
        height: 25vh;

} */
.transactions-title{
    /* border: 1px solid black; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.transactions-details{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    height: 75%;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width:none;
}
th, td {
  padding: 0.5rem 3rem;
  border-bottom: 1px solid #ddd;
}
th{
    background-color: #121826;
    border-radius: 0;
    color: whitesmoke;
}

tr:nth-child(1){
    color: black;
    font-weight: bold;
    background-color: #dedede;
    
}
th span{
    color: rgb(224, 79, 1);
    margin-left: 10px;
}

.controls input, #filterType, #sortAmount{
    border-radius: 5px;
    height: 2rem;
    background-color: transparent;
    border: 1px solid black;
}
.form{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    /* grid-template-columns: 1fr 1fr; */
    height: 80%;
    justify-content: center;
    /* align-items: center; */
    margin-left: 1rem;
}
.add-items h3{
    text-align: center;
    padding: 0.5rem 0;
    /* border-bottom: 1px solid black; */
    border-radius: 10px;
    background-color: #121826;
        /* box-shadow: 2px 2px 10px gray; */

}
.add-amount, .add-type, .add-catagory, .add-date{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    height: 7vh;
    gap: 0.5rem;

}
.form input,option, #type{
    width: 80%;
    height: 3rem;
    border-radius: 5px;
    border: 0.5px solid whitesmoke;
    background-color: transparent;

}
.form button{
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(84, 118, 255);
    color: white;
    margin-top: 1rem;
}
.form button:hover{ 
    cursor: pointer;
    background-color: rgb(0, 51, 255);
}
/* #transactionList tr:nth-child(1){
    position: fixed;
    width: 45%;
}

#transactionList tr:nth-child(2){
    margin-top: 2rem;
} */

#myChart{
    width: 90%;
    max-width: 50vw;  
    /* height: 250px; */
    margin: 15px auto;
    padding: 15px;
    background: linear-gradient(135deg, #1E293B, #0F172A);
    border-radius: 12px;
    /* background-color: red; */
    /* border: 1px solid white; */

}
/* .charts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2rem;
} */
.mychart{
    background: linear-gradient(135deg, #1E293B, #0F172A);
    margin: 3rem;
    padding: 0;
    border-radius: 12px;
}

.chart-container {
    width: 90%;
    max-width: 100vw;
    height: 400px;
    margin: 20px 3rem;
    /* background-color: red; */
    padding: 2rem 3rem;
    border-radius: 10px;
    margin-bottom: 3rem;
        background: linear-gradient(135deg, #1E293B, #0F172A);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .dashboard-data {
        grid-template-columns: 1fr;
    }

    .cards {
        flex-direction: column;
    }
}